.form{
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background: #f8f8f8;
    display: flex;
    flex-direction: column;
}

.game{
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: none;
}

.player{
    font-size: 50px;
    padding: 20px;
}

.square{
    height: 140px;
    width: 140px;
    background-color: aquamarine;
    font-size: 34px;
    display: flex;
}

.heading{
    font-size: 30px;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.scam{
    display: block;
}

.modal{
    color: #333;
    font-size: 20px;
    text-align: center;
    margin-top: 60px;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 9999;
}

.modal-content{
    width: 400px;
    height: 200px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    position: relative;
}
